﻿@model PsikoApp.ModelView.app_formView

<div>
    <div class="form-horizontal">
        <div class="row">
            <div class="col-md-1 col-md-offset-1">
                <span class="glyphicon glyphicon-trash" style="font-size: 60px; color: darkred"></span>
            </div>
            <div class="col-md-8 text-left" style="font-size: 15px; left: 30px">
                Anda yakin ingin menghapus form applicant? <br />
                Name : <b>@Html.DisplayFor(model => model.name)</b> <br />
                Position Apply : <b>@Html.DisplayFor(model => model.position)</b>
            </div>
        </div>
    </div>

    @using (Html.BeginForm("Delete", "AppForm", FormMethod.Post, new { id = "form-delete", name = "form-delete" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.id_form)
        <div class="text-right">
            <div class="form-actions btn-group btn-group-md">
                <input type="button" value="Tidak" data-dismiss="modal" class="btn btn-warning" style="width: 100px" />
                <input type="submit" value="Ya" class="btn btn-danger" style="width: 100px" />
            </div>
        </div>
    }
</div>

<script type="text/javascript">
    $("#form-delete").submit(function () {
        $.ajax({
            url: this.action,
            type: this.method,
            data: $(this).serialize(),
            success: function (result) {
                if (result.success) {
                    alert('Form Applicant berhasil dihapus');
                    $("#modal1").modal("hide");
                    GetList()
                } else {
                    alert('Error: ' + result.message);
                }
            }
        })
        return false;
    })
</script>
