﻿@model PsikoApp.ModelView.app_formView

@using (Html.BeginForm("Edit", "AppForm", FormMethod.Post, new { id = "form-edit", name = "form-edit" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-4 text-right" style="font-weight: bold">Name : <b style="color:darkred">*</b> </div>
            <div class="col-md-8">
                @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control", style = "max-width: 400px" } })
                @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4 text-right" style="font-weight: bold">Mobile Phone Number : <b style="color:darkred">*</b> </div>
            <div class="col-md-8">
                @Html.EditorFor(model => model.phone, new { htmlAttributes = new { @class = "form-control", style = "max-width: 400px", placeholder = "0888888888", type="number" } })
                @Html.ValidationMessageFor(model => model.phone, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4 text-right" style="font-weight: bold">Alternative Phone Number : </div>
            <div class="col-md-8">
                @Html.EditorFor(model => model.phone_alt, new { htmlAttributes = new { @class = "form-control", style = "max-width: 400px" } })
                @Html.ValidationMessageFor(model => model.phone_alt, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4 text-right" style="font-weight: bold">Email : <b style="color:darkred">*</b> </div>
            <div class="col-md-8">
                @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control", style = "max-width: 400px", placeholder = "yourEmail@yahoo.com" } })
                @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4 text-right" style="font-weight: bold">Place of Birth : <b style="color:darkred">*</b> </div>
            <div class="col-md-8">
                @Html.EditorFor(model => model.pob, new { htmlAttributes = new { @class = "form-control", style = "max-width: 400px" } })
                @Html.ValidationMessageFor(model => model.pob, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4 text-right" style="font-weight: bold">Date Of Birth : <b style="color:darkred">*</b> </div>
            <div class="col-md-8">
                @Html.DropDownListFor(model => model.dob_y,
                  new List<SelectListItem> {
                       new SelectListItem { Value = "1980" , Text = "1980" },
                       new SelectListItem { Value = "1981" , Text = "1981" },
                       new SelectListItem { Value = "1982" , Text = "1982" },
                       new SelectListItem { Value = "1983" , Text = "1983" },
                       new SelectListItem { Value = "1984" , Text = "1984" },
                       new SelectListItem { Value = "1985" , Text = "1985" },
                       new SelectListItem { Value = "1986" , Text = "1986" },
                       new SelectListItem { Value = "1987" , Text = "1987" },
                       new SelectListItem { Value = "1988" , Text = "1988" },
                       new SelectListItem { Value = "1989" , Text = "1989" },
                       new SelectListItem { Value = "1990" , Text = "1990" },
                       new SelectListItem { Value = "1991" , Text = "1991" },
                       new SelectListItem { Value = "1992" , Text = "1992" },
                       new SelectListItem { Value = "1993" , Text = "1993" },
                       new SelectListItem { Value = "1994" , Text = "1994" },
                       new SelectListItem { Value = "1995" , Text = "1995" },
                       new SelectListItem { Value = "1996" , Text = "1996" },
                       new SelectListItem { Value = "1997" , Text = "1997" },
                       new SelectListItem { Value = "1998" , Text = "1998" },
                       new SelectListItem { Value = "1999" , Text = "1999" },
                       new SelectListItem { Value = "2000" , Text = "2000" },
                       new SelectListItem { Value = "2001" , Text = "2001" },
                       new SelectListItem { Value = "2002" , Text = "2002" },
                       new SelectListItem { Value = "2003" , Text = "2003" },
                       new SelectListItem { Value = "2004" , Text = "2004" },
                       new SelectListItem { Value = "2005" , Text = "2005" },
                       new SelectListItem { Value = "2006" , Text = "2006" },
                       new SelectListItem { Value = "2007" , Text = "2007" },
                       new SelectListItem { Value = "2008" , Text = "2008" },
                       new SelectListItem { Value = "2009" , Text = "2009" },
                       new SelectListItem { Value = "2010" , Text = "2010" },
                       new SelectListItem { Value = "2011" , Text = "2011" },
                       new SelectListItem { Value = "2012" , Text = "2012" },
                       new SelectListItem { Value = "2013" , Text = "2013" },
                       new SelectListItem { Value = "2014" , Text = "2014" },
                       new SelectListItem { Value = "2015" , Text = "2015" },
                       new SelectListItem { Value = "2016" , Text = "2016" },
                       new SelectListItem { Value = "2017" , Text = "2017" },
                       new SelectListItem { Value = "2018" , Text = "2018" },
                       new SelectListItem { Value = "2019" , Text = "2019" },
                       new SelectListItem { Value = "2020" , Text = "2020" }
                    }, new { @class = "select-dob" })

                @Html.DropDownListFor(model => model.dob_m,
                  new List<SelectListItem> {
                       new SelectListItem { Value = "Jan" , Text = "Jan" },
                       new SelectListItem { Value = "Feb" , Text = "Feb" },
                       new SelectListItem { Value = "Mar" , Text = "Mar" },
                       new SelectListItem { Value = "Apr" , Text = "Apr" },
                       new SelectListItem { Value = "May" , Text = "May" },
                       new SelectListItem { Value = "Jun" , Text = "Jun" },
                       new SelectListItem { Value = "Jul" , Text = "Jul" },
                       new SelectListItem { Value = "Aug" , Text = "Aug" },
                       new SelectListItem { Value = "Sep" , Text = "Sep" },
                       new SelectListItem { Value = "Oct" , Text = "Oct" },
                       new SelectListItem { Value = "Nov" , Text = "Nov" },
                       new SelectListItem { Value = "Dec" , Text = "Dec" }
                    }, new { @class = "select-dob" })


                @Html.DropDownListFor(model => model.dob_d,
                  new List<SelectListItem> {
                       new SelectListItem { Value = "1" , Text = "1" },
                       new SelectListItem { Value = "2" , Text = "2" },
                       new SelectListItem { Value = "3" , Text = "3" },
                       new SelectListItem { Value = "4" , Text = "4" },
                       new SelectListItem { Value = "5" , Text = "5" },
                       new SelectListItem { Value = "6" , Text = "6" },
                       new SelectListItem { Value = "7" , Text = "7" },
                       new SelectListItem { Value = "8" , Text = "8" },
                       new SelectListItem { Value = "9" , Text = "9" },
                       new SelectListItem { Value = "10" , Text = "10" },
                       new SelectListItem { Value = "11" , Text = "11" },
                       new SelectListItem { Value = "12" , Text = "12" },
                       new SelectListItem { Value = "13" , Text = "13" },
                       new SelectListItem { Value = "14" , Text = "14" },
                       new SelectListItem { Value = "15" , Text = "15" },
                       new SelectListItem { Value = "16" , Text = "16" },
                       new SelectListItem { Value = "17" , Text = "17" },
                       new SelectListItem { Value = "18" , Text = "18" },
                       new SelectListItem { Value = "19" , Text = "19" },
                       new SelectListItem { Value = "10" , Text = "10" },
                       new SelectListItem { Value = "21" , Text = "21" },
                       new SelectListItem { Value = "22" , Text = "22" },
                       new SelectListItem { Value = "23" , Text = "23" },
                       new SelectListItem { Value = "24" , Text = "24" },
                       new SelectListItem { Value = "25" , Text = "25" },
                       new SelectListItem { Value = "26" , Text = "26" },
                       new SelectListItem { Value = "27" , Text = "27" },
                       new SelectListItem { Value = "28" , Text = "28" },
                       new SelectListItem { Value = "29" , Text = "29" },
                       new SelectListItem { Value = "30" , Text = "30" },
                       new SelectListItem { Value = "31" , Text = "31" }
                    }, new { @class = "select-dob" })

                @Html.ValidationMessageFor(model => model.dob, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4 text-right" style="font-weight: bold">Last Education : <b style="color:darkred">*</b> </div>
            <div class="col-md-8">
                @Html.DropDownListFor(model => model.last_edu,
                  new List<SelectListItem> {
                       new SelectListItem { Value = "S2/S3" , Text = "S2/S3" },
                       new SelectListItem { Value = "S1/D4" , Text = "S1/D4" },
                       new SelectListItem { Value = "D3" , Text = "D3" },
                       new SelectListItem { Value = "SMU/SMK" , Text = "SMU/SMK" }
                    }, "-- Choose --", new { @class = "form-control", style = "max-width: 400px" })
                @Html.ValidationMessageFor(model => model.last_edu, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4 text-right" style="font-weight: bold">College / University : <b style="color:darkred">*</b> </div>
            <div class="col-md-8">
                @Html.EditorFor(model => model.univ, new { htmlAttributes = new { @class = "form-control", style = "max-width: 400px" } })
                @Html.ValidationMessageFor(model => model.univ, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4 text-right" style="font-weight: bold">Major : <b style="color:darkred">*</b> </div>
            <div class="col-md-8">
                @Html.EditorFor(model => model.major, new { htmlAttributes = new { @class = "form-control", style = "max-width: 400px" } })
                @Html.ValidationMessageFor(model => model.major, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4 text-right" style="font-weight: bold">Position Apply : <b style="color:darkred">*</b> </div>
            <div class="col-md-8">
                @Html.EditorFor(model => model.position, new { htmlAttributes = new { @class = "form-control", style = "max-width: 400px" } })
                @Html.ValidationMessageFor(model => model.position, "", new { @class = "text-danger" })
            </div>
        </div>
        <b><i>How did you come to know of this vacancy ?</i></b> <br /><br />
        <div class="form-group">
            <div class="col-md-4 text-right" style="font-weight: bold">Source : <b style="color:darkred">*</b> </div>
            <div class="col-md-8">
                @Html.DropDownListFor(model => model.source,
                  new List<SelectListItem> {
                       new SelectListItem { Value = "Event" , Text = "Event" },
                       new SelectListItem { Value = "Career Center" , Text = "Career Center" },
                       new SelectListItem { Value = "Referral Program" , Text = "Referral Program" }
                    }, "-- Choose --", new { @class = "form-control", style = "max-width: 400px" })
                @Html.ValidationMessageFor(model => model.source, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" class="btn btn-default" />
                <input type="reset" value="Reset" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@Scripts.Render("~/bundles/jqueryval")

<script type="text/javascript">
    $("#form-edit").submit(function () {
        $.ajax({
            url: this.action,
            type: this.method,
            data: $(this).serialize(),
            success: function (result) {
                if (result.success) {
                    alert(`Form berhasil diedit`);
                    GetList()
                }
            }
        })
        return false;
    })
</script>
