﻿@model IEnumerable<PsikoApp.ModelView.app_formView>

    <table class="table">
        <tr>
            <th>
                Applicant
            </th>
            <th>Action</th>
        </tr>
    
        @foreach (var item in Model) 
         {
            <tr>
                <td>
                    <div class="row">
                        <p class="col-md-4" style="font-size:12px">Name</p>
                        <div class="col-md-8" style="font-weight: bold">
                            @Html.DisplayFor(modelItem => item.name)
                        </div>
                    </div>

                    <div class="row">
                        <p class="col-md-4" style="font-size:12px">Phone Number</p>
                        <div class="col-md-8" style="font-weight: bold">
                            @Html.DisplayFor(modelItem => item.phone)
                        </div>
                    </div>

                    <div class="row">
                        <p class="col-md-4" style="font-size:12px">Email</p>
                        <div class="col-md-8" style="font-weight: bold">
                            @Html.DisplayFor(modelItem => item.email)
                        </div>
                    </div>

                    <div class="row">
                        <p class="col-md-4" style="font-size:12px">Position Apply</p>
                        <div class="col-md-8" style="font-weight: bold">
                            @Html.DisplayFor(modelItem => item.position)
                        </div>
                    </div>
                </td>

                <td>
                    <div class="btn-group btn-group-sm">
                        <button type="button" class="btn btn-warning btn-edit" data-id="@item.id_form" title="Edit" onclick="GetById(@item.id_form)">Edit</button>
                        <button type="button" class="btn btn-danger btn-delete" data-id="@item.id_form" onclick="DeleteById(@item.id_form)" title="Delete">Delete</button>
                    </div>
                </td>
            </tr>
         }
    
    </table>
