﻿
<div class="row text-center">
    <div class="col-md-1 col-md-offset-2">
        <img src="~/Folderxsis/xsis.jpeg" alt="Xsis" width="130" />
    </div>
    <div class="col-md-8" style="color: steelblue">
        <h1><b>Welcome to PT. Xsis Mitra <br /> Utama</b></h1> <br />
        <div style="font-size:18px"> We offers you the chance to join with us and expand your talent, skill <br /> and experience in IT industry. </div> <br />
        <div class="alert alert-success col-md-offset-1 col-md-9" role="alert">
            <i class="text-center" style="color:steelblue; font-size:18px">To apply, please fill out all the required personal information (information with red stars must strictly be filled) and then submit your form. For the next process , we will inform you by phone, sms or email (from recruitment@xsis.co.id).</i>
        </div>
    </div>
</div>

<div class="col-md-offset-2 col-md-8">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <b>Application Form</b>
            </h3>
        </div>
        <div class="panel-body">
            Loading...
        </div>
    </div>
</div>

<div id="modal1" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document" style="width: 500px">
        <div class="modal-content">
            <div class="modal-header" style="background: darkred">
                <button type="button" style="color: white" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title" style="color: white">Hapus ?</h3>
            </div>
            <div class="modal-body" id="body-delete">
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            GetForm()
        })

        function GetForm() {
            $.ajax({
                url: '@Url.Action("Create", "AppForm")',
                type: 'get',
                success: function (result) {
                    $(".panel-body").html(result);
                }
            });
        }

        function GetList() {
            $.ajax({
                url: '@Url.Action("List", "AppForm")',
                type: 'get',
                success: function (result) {
                    $(".panel-body").html(result);
                }
            });
        }

        function GetById(id_form) {
            $.ajax({
                url: '@Url.Action("Edit", "AppForm")',
                type: 'get',
                data: { id_form: id_form },
                success: function (result) {
                    $(".panel-body").html(result);
                }
            });
        }

        function DeleteById(id_form) {
            $.ajax({
                url: '@Url.Action("Delete", "AppForm")',
                type: 'get',
                data: { id_form: id_form },
                success: function (result) {
                    $(".modal-body").html(result);
                    $("#modal1").modal("show");
                }
            });
        }
    </script>
}
